{% extends "base.html.twig" %}

{% block body %}
<style>
</style>
<div class="card">
  <div class="card-header">
    Merci pour votre evaluation
  </div>
  <div class="card-body">
    <h5 class="card-title">Mention j'aime effectuée avec succès</h5>
    <p class="card-text">Votre opinion nous intéresse Vous avez aimé ce travail vous voulez découvrir d'autres matières.</p>
    
  </div>
</div>
{%endblock%}